.about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.highlight {
    color: #000000;
    /* Bootstrap Primary Color */
    font-weight: bold;
    font-size: 20px;
}

.project-list {
    list-style: none;
    padding-left: 0;
}

.project-list li {
    padding: 5px 0;
    border-left: 3px solid #007bff;
    padding-left: 10px;
}

.scroll-reveal {
    margin: 20px 0;
}

.scroll-reveal-text {
    font-size: clamp(1.6rem, 4vw, 3rem);
    line-height: 1.5;
    font-weight: 600;
}

.word {
    display: inline-block;
}